# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform lock file
.terraform.lock.hcl

# OS files
.DS_Store
Thumbs.db